<!-- Footer -->
<div class="container">
        <hr>
        <!-- start footer -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <h5 class="title">Suivez nous!</h5>
                        <p>Ne manquer pas une seconde de ce qui se passe chez Rollershop.</p>
                        
                        <hr class="spacer-10 no-border">
                        <!-- Lien de bas de page -->
                        <ul class="social-icons">
                            <li class="facebook"><a href="https://www.facebook.com/Rollershop-685191674987933/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li class="twitter"><a href="https://twitter.com/RollershopCA" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li class="youtube"><a href="https://www.youtube.com/channel/UC2oe9jZg8hAW56WCbm7woPQ" target="_blank"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div><!-- end col -->
                    <div class="col-sm-3">
                        <h5 class="title">Mon compte</h5>
                        <ul class="list alt-list">
                            <li><a href="{{path('error404')}}"><i class="fa fa-angle-right"></i>Mon compte</a></li>
                            <li><a href="{{ path('listeSouhaits.index') }}"><i class="fa fa-angle-right"></i>Liste de souhaits</a></li>
                            <li><a href="{{path('panier.index')}}"><i class="fa fa-angle-right"></i>Mon panier</a></li>
                            <li><a href="{{path('error404')}}"><i class="fa fa-angle-right"></i>Payer</a></li>
                        </ul>
                    </div><!-- end col -->
                    <div class="col-sm-3">
                        <h5 class="title">Information</h5>
                        <ul class="list alt-list">
                            <li><a href="{{path('error404')}}"><i class="fa fa-angle-right"></i>À propos</a></li>
                            <li><a href="{{path('error404')}}"><i class="fa fa-angle-right"></i>FAQ</a></li>
                            <li><a href="{{path('contacts')}}"><i class="fa fa-angle-right"></i>Contactez nous</a></li>
                        </ul>
                    </div><!-- end col -->
                    <div class="col-sm-3">
                        <h5 class="title">Paiement</h5>
                        <p>Nous acceptons les types de paiement listés ci-dessous.</p>
                        <ul class="list list-inline">
                            <li class="text-white"><i class="fa fa-cc-visa fa-2x"></i></li>
                            <li class="text-white"><i class="fa fa-cc-paypal fa-2x"></i></li>
                            <li class="text-white"><i class="fa fa-cc-mastercard fa-2x"></i></li>
                            <li class="text-white"><i class="fa fa-cc-discover fa-2x"></i></li>
                        </ul>
                    </div><!-- end col -->
                </div><!-- end row -->
                
                <hr class="spacer-30">
                
                <div class="row text-center">
                    <div class="col-sm-12">
                        <p class="text-sm">&COPY; 2017 Alexandre Brown</p><div id="google_translate_element"></div>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </footer>
        <!-- end footer -->
</div>