{% extends 'base/base.html.twig' %}
{% block content %}
{% set listeSouhaits = app.session.get('listeSouhaits') %} <!-- On récupère notre variable de session listeSouhaits -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul>
                    <li><a href="{{ path('homepage') }}">Accueil</a></li>
                    <li class="active">Panier</li>
                </ul><!-- end breadcrumb -->
            </div><!-- end col -->    
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end breadcrumbs -->

<!-- start section -->
<section class="section white-backgorund">
    <div class="container">
        <div class="row mainPanel well">
            <div class="col-lg-12">
                <div class="row">
                    <div class="box">
                                <h2 class="title text-center">Mon panier (
                                    <span class="text-primary">
                                        {% if panier is not null %}
                                            {{panier.compteNbProduitsTotal}} 
                                            {% if panier.compteNbProduitsTotal > 1 %}
                                                items
                                            {% else %}
                                                item
                                            {% endif %}
                                        {% else %}
                                            0 item
                                        {% endif %}
                                    </span>)
                                </h2>
                                {% if message is defined and message is not null %}
                                    <div class="alert {{ message.getType }} text-center">
                                        {{ message.getTexte | raw  }}
                                    </div>
                                {% endif %}
                            <hr>
                    </div>
                </div>
            </div>
        {% if app.user %} <!-- On affiche le sidebar seulement si l'utilisateur est connecté -->
            <div class="col-lg-3  sidebar">
                <div class="row">
                    <div class="list-group">
                        <span class="list-group-item active" style="background-color:#35404f">
                            Navigation du compte
                        </span>
                        <a href="{{ path('dossier') }}" class="list-group-item">
                            <i class="fa fa-user"></i> Mon compte
                        </a>
                        <a href="{{ path('listeSouhaits.index') }}" class="list-group-item">
                            <i class="fa fa-heart"></i> Ma liste de souhaits <span class="badge">{% if listeSouhaits is not null %}{{listeSouhaits.compteSouhaits}}{% else %}0{% endif %}</span>
                        </a>
                        <a href="{{ path('panier.index') }}" class="list-group-item active" style="background-color:#D8D8D8;border-style:none;color:black;">
                            <i class="fa fa-cart-plus"></i> Mon panier <span class="badge">{% if panier is not null %}{{panier.compteNbProduitsTotal}}{% else %}0{% endif %}</span>
                        </a>
                        <a href="{{ path('commandes') }}" class="list-group-item">
                            <i class="fa fa-list"></i> Mes commandes
                        </a>
                        <a href="{{ path('deconnexion') }}" class="list-group-item">
                            <i class="fa fa-sign-out"></i> Déconnexion 
                        </a>
                    </div> 
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="row">
                        <div class="list-group">
                            <span class="list-group-item active" style="background-color:#35404f">
                                Administration
                            </span>
                            <a href="{{ path('admin.produit.index') }}" class="list-group-item">
                                <i class="fa fa-glass" aria-hidden="true"></i> Produits
                            </a>
                            <a href="{{ path('admin.categorie.index') }}" class="list-group-item">
                                <i class="fa fa-bars" aria-hidden="true"></i> Catégories
                            </a>
                            <a href="{{ path('admin.commande.index') }}" class="list-group-item">
                                <i class="fa fa-archive"></i> Commandes
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
            <!-- end sidebar -->
            <div class="col-lg-9">
            {% else %}
            <div class="col-lg-12">
            {% endif %}            
                <div class="row">
                    <div class="col-lg-8">
                    <form method="post" action="{{ path('panier.post') }}">
                        <div class="table-responsive table-bordered">    
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th colspan="2" class="text-center">Produit</th>
                                        <th class="text-center">Prix</th>
                                        <th class="text-center">Quantité</th>
                                        <th colspan="2" class="text-center">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for unAchat in panier.Achats %}
                                    <tr>
                                        <td class="text-center"> <!-- IMG du produit -->
                                            <h6 class="regular">
                                                <a href="{{ path('produit.popup', {'idProduit' :unAchat.produit.idProduit }) }}" class="btn btn-light semi-circle btn-sm btnPopup" data-toggle="modal" data-target=".productQuickView">
                                                    <img width="60px" src="{{ asset_if('img/produits/' ~ unAchat.Produit.Categorie.IdCategorie ~ '/' ~ unAchat.Produit.idProduit ~ '.jpg','img/produits/nonDispo.png')}}">
                                                </a>
                                            </h6>
                                        </td>
                                        <td class="text-center">
                                            <h6 class="regular">
                                                <a href="{{ path('produit.popup', {'idProduit' :unAchat.produit.idProduit }) }}" class="btnPopup" data-toggle="modal" data-target=".productQuickView">
                                                    {{ unAchat.Produit.nom }}
                                                </a>
                                            </h6>
                                        </td>
                                        <td class="text-center">
                                            <span>{{unAchat.Produit.Prix}}$</span>
                                        </td>
                                        <td class="text-center">
                                            <input name="{{ 'qteCommande[' ~ unAchat.Produit.IdProduit ~ ']' }}" type="number" min="0" max="10" value="{{ unAchat.Quantite }}" class="form-control">
                                        </td>
                                        <td>
                                            <a class="close deleteObj" href="{{ path('panier.supprimer', {'idProduit':unAchat.Produit.IdProduit}) }}">×</a>
                                            <span class="text-primary">{{unAchat.getTotalPrixAchatQuantite}}$</span>                                         
                                        </td>
                                    </tr>
                                    {% endfor %}<!-- endfor chaque achat -->
                                </tbody>
                            </table><!-- end table -->
                        </div><!-- end table-responsive -->
                        <hr class="spacer-10 no-border">
                        <div class="row">
                            <div class="col-md-5">
                                <a href="{{ path('homepage') }}" class="btn btn-light semi-circle btn-sm pull-left">
                                    <i class="fa fa-arrow-left mr-5"></i> Continuer à magasiner
                                </a>
                            </div>
                            <div class="col-md-4">
                                <button type="submit" name="action" value="rafraichir" {% if (panier.compteAchats == 0) %}disabled{% endif %} class="btn btn-primary semi-circle btn-sm pull-left">
                                    Mettre à jour <i class="fa fa-refresh ml-5"></i>
                                </button>
                            </div>
                            <div class="col-md-3">
                                <button type="submit" name="action" value="vider" {% if (panier.compteAchats == 0) %}disabled{% endif %} class="btn btn-danger semi-circle btn-sm pull-right">
                                    Vider <i class="fa fa-trash-o  ml-5"></i>
                                </button>
                            </div>
                        </div>
                        <hr class="spacer-10 no-border">
                    </div><!-- end col -->
                    <div class="col-lg-4">
                        <div class="table-responsive table-bordered"> 
                            <table class="table no-border">
                                <thead class="summaryCart">
                                    <tr>
                                        <td colspan="2">
                                            <h5>Sommaire de la commande</h5>
                                        </td>
                                    </tr>
                                </thead>
                                <tr>
                                    <th>Sous-total</th><td class="pull-right">{{ panier.calculSousTotal() | number_format(2, ",", " ") }}$</td>
                                </tr>
                                <tr>
                                    <th>Frais de livraison</th><td class="pull-right">{{ panier.calculFraisLivraison() | number_format(2, ",", " ") }}$</td>
                                </tr>
                                <tr>
                                    <th>TPS</th><td class="pull-right">{{ panier.calculTPS() | number_format(2, ",", " ") }}$</td>
                                </tr>
                                <tr>
                                    <th>TVQ</th><td class="pull-right">{{ panier.calculTVQ() | number_format(2, ",", " ") }}$</td>
                                </tr>
                                <tr>
                                    <tbody></tbody>
                                </tr>
                                <tr>
                                    <th>Total</th><td class="pull-right">{{ panier.calculTotal() | number_format(2, ",", " ") }}$</td>
                                    <tr>
                                        <td colspan="2" align="center">
                                            <button type="submit" name="action" value="payer" {% if (panier.compteAchats == 0) %}disabled{% endif %} class="btn btn-default semi-circle btn-sm">
                                                Payer <i class="fa fa-arrow-right ml-5"></i>
                                            </button>
                                        </td>
                                    </tr>
                                
                                </tr>
                            </table><!-- end table -->
                        </div><!-- end table-responsive -->
                    </div><!-- end col -->
                </div><!-- end row -->
                </form><!-- end form -->
            </div><!-- end col -->
        </div><!-- end row -->
        <!-- Modal Product Quick View -->
        <div class="modal fade productQuickView" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div id="modal-content" class="modal-content">
                </div><!-- end modal-content -->
            </div><!-- end modal-dialog -->
        </div><!-- end productRewiew -->                
    </div><!-- end container -->
</section>
<!-- end section -->
{% endblock %}