{% extends 'base/base.html.twig' %}
{% block content %}
{% set listeSouhaits = app.session.get('listeSouhaits') %} <!-- On récupère notre variable de session listeSouhaits -->
{% set panier = app.session.get('panier') %} <!-- On récupère notre variable de session panier -->
<!-- start section -->
<section class="section white-backgorund">
    <div class="container">
            <!-- end sidebar -->
                <div class="row">
                    <div class="col-sm-12 text-left">
                        <h2 class="title">Paiement</h2>
                        {% if message is defined and message is not null %}
                            <div class="alert {{ message.getType }} text-center">
                                {{ message.getTexte | raw  }}
                            </div>
                        {% endif %}
                    </div><!-- end col -->
                </div><!-- end row -->
                
                <hr class="spacer-5"><hr class="spacer-20 no-border">

                <div class="UBorder">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="nav nav-pills style2 nav-justified">
                            <li class="active">
                                <a href="#payment" data-toggle="tab">
                                    1. Méthode de paiement
                                    <div class="icon">
                                        <i class="fa fa-credit-card"></i>
                                    </div>
                                </a>
                            </li>
                            <li class="disabled">
                            	<a href="#">
                                    2. Revue de la commande
                                    <div class="icon">
                                        <i class="fa fa-check"></i>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content pills">
                        	<div class="tab-pane active" id="payment">
                                <div class="row spacerPad20">
                                    <div class="col-md-8">
                                        <h5 class="thin subtitle">Méthode de paiement</h5>
                                        <div class="panel-group accordion style2" id="accordionPayment" role="tablist" aria-multiselectable="true">
                                            <form id="payment-form" role="form" data-toggle="validator" method="post" action="{{ path('revue') }}" novalidate="true">
                                                <div class="form-row">
                                                    <div class="form-group">
                                                        <label class="control-label">Nom sur la carte</label>
                                                        <input id="cc_name" onKeyUp="enableButtonIfNotEmpty()" type="text" size="20" name="nom" class="form-control" required="">
                                                    </div>
                                                    <label for="card-element">
                                                      Numéro de carte de crédit
                                                    </label>
                                                    <div id="card-element">
                                                      <!-- a Stripe Element will be inserted here. -->
                                                    </div>

                                                    <!-- Used to display form errors -->
                                                    <div id="card-errors"></div>
                                                  </div>
                                        </div><!-- end panel-group -->
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h5 class="thin subtitle">(FAQ) Foire Aux Questions</h5>
                                                <div class="panel-group accordion style1" id="question" role="tablist" aria-multiselectable="true">
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading" role="tab" id="questionOne">
                                                            <h4 class="panel-title">
                                                                <a class="" data-toggle="collapse" data-parent="#question" href="#collapseQuestionOne" aria-expanded="true" aria-controls="collapseOne">
                                                                    Quel types de paiements sont acceptés?
                                                                </a>
                                                            </h4>
                                                        </div><!-- end panel-heading -->
                                                        <div id="collapseQuestionOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="questionOne">
                                                            <div class="panel-body">
                                                                <p>Nous acceptons la Visa , MasterCard ou American Express </p>
                                                            </div><!-- end panel-body -->
                                                        </div><!-- end collapse -->
                                                    </div><!-- end panel -->

                                                    <div class="panel panel-default">
                                                        <div class="panel-heading" role="tab" id="questionTwo">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" data-toggle="collapse" data-parent="#question" href="#collapseQuestionTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                                    Puis-je utiliser une carte cadeau pour mes achats en ligne?
                                                                </a>
                                                            </h4>
                                                        </div><!-- end panel-heading -->
                                                        <div id="collapseQuestionTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="questionTwo">
                                                            <div class="panel-body">
                                                                <p>Les cartes cadeaux sont uniquement valide en magasin , veuillez vous référer à la section <a href="{{path('contacts')}}" target="_blank">Contacts</a> pour trouver un de nos magasin.</p>
                                                            </div><!-- end panel-body -->
                                                        </div><!-- end collapse -->
                                                    </div><!-- end panel -->

                                                    <div class="panel panel-default">
                                                        <div class="panel-heading" role="tab" id="questionThree">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" data-toggle="collapse" data-parent="#question" href="#collapseQuestionThree" aria-expanded="false" aria-controls="collapseThree">
                                                                    Quel est le temps de livraison moyen?
                                                                </a>
                                                            </h4>
                                                        </div><!-- end panel-heading -->
                                                        <div id="collapseQuestionThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="questionThree">
                                                            <div class="panel-body">
                                                                <p>Dépendement de votre emplacement , une commande peut prendre autour de 5 à 10 jours <u>ouvrables</u> avant d'être livrée.</p>
                                                                <p>*Note:Ceci n'est qu'une approximation du délai général de nos livraisons , cet approximation pourrait changer selon le moment auquel vous faites votre commande. Merci de votre compréhension!*</p>
                                                            </div><!-- end panel-body -->
                                                        </div><!-- end collapse -->
                                                    </div><!-- end panel -->
                                                </div><!-- end panel-group -->
                                            </div><!-- end col -->
                                        </div>
                                    </div><!-- end col -->
                                    <div class="col-sm-4">
                                        <div class="table-responsive table-bordered"> 
                                            <table class="table no-border">
                                                <thead class="summaryCart">
                                                    <tr>
                                                        <td colspan="2">
                                                            <h5>Sommaire de la commande</h5>
                                                        </td>
                                                    </tr>
                                                </thead>
                                                <tr>
                                                    <th>Sous-total</th><td class="pull-right">{{ panier.calculSousTotal() | number_format(2, ",", " ") }}$</td>
                                                </tr>
                                                <tr>
                                                    <th>Frais de livraison</th><td class="pull-right">{{ panier.calculFraisLivraison() | number_format(2, ",", " ") }}$</td>
                                                </tr>
                                                <tr>
                                                    <th>TPS</th><td class="pull-right">{{ panier.calculTPS() | number_format(2, ",", " ") }}$</td>
                                                </tr>
                                                <tr>
                                                    <th>TVQ</th><td class="pull-right">{{ panier.calculTVQ() | number_format(2, ",", " ") }}$</td>
                                                </tr>
                                                <tr>
                                                    <tbody></tbody>
                                                </tr>
                                                <tr>
                                                    <th>Total</th><td class="pull-right">{{ panier.calculTotal() | number_format(2, ",", " ") }}$</td>
                                                </tr>
                                            </table><!-- end table -->
                                        </div><!-- end table-responsive -->
                                    </div><!-- end col -->
                                </div><!-- end row -->
                            </div><!-- end tab-pane -->
                        </div><!-- end pills content -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end col -->
	        <div class="row spacerPad10-no-top">
	        	<hr>
	        	<div class="col-sm-6 text-left">
	        		<a href="{{path('panier.index')}}" class="btn btn-default btn-md round">Retour au panier</a>
	        	</div>
	        	<div class="col-sm-6 text-right">
	        		<button id="btnSubmitMethodePaiement" name="action" value="confirmation" type="submit" class="btn btn-default btn-md round disabled ">Revoir la commande</button>
	        	</div>
                </form>
	        </div>  
          </div><!-- end UBorder -->
        </div><!-- end row -->          
    </div><!-- end container -->
</section>
<!-- end section -->
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/paiement.js') }}" ></script>
{% endblock %}