{% extends 'base/base.html.twig' %}
{% block content %}
{% set listeSouhaits = app.session.get('listeSouhaits') %} <!-- On récupère notre variable de session listeSouhaits -->
{% set panier = app.session.get('panier') %} <!-- On récupère notre variable de session panier -->
<!-- start section -->
<section class="section white-backgorund">
    <div class="container">
        <div class="row">
        	{% if app.user %}
            <!-- start sidebar -->
            <div class="col-sm-2">
                <div class="widget all-ArroundBorder">
                    <h5 class="subtitle text-center">Navigation</h5>
                    
                    <ul class="list list-unstyled ">
                        <li class="spacerPad10-no-top-bottom">
                            <a href="{{ path('dossier') }}">Mon compte</a>
                        </li>
                        <li class="active spacerPad10-no-top-bottom">
                            <a href="{{ path('panier.index') }}">Mon panier <span class="text-primary">({{panier.compteNbProduitsTotal}})</span></a>
                        </li>
                        <li class="spacerPad10-no-top-bottom">
                            <a href="{{ path('error404') }}">Mes commandes</a>
                        </li>
                        <li class="spacerPad10-no-top-bottom">
                            <a href="{{ path('listeSouhaits.index') }}">Liste de souhaits <span class="text-primary">({% if listeSouhaits is not null %}{{listeSouhaits.compteSouhaits}}{% else %}0{% endif %})</span></a>
                        </li>
                        <li class="spacerPad10-no-top">
                            <a href="{{ path('deconnexion') }}">Déconnexion</a>
                        </li>
                    </ul>
                </div><!-- end widget --> 
            </div><!-- end col -->
            <div class="col-sm-10">
        	{% else %}
        	<div class="col-sm-12">
        	{% endif %}
            <!-- end sidebar -->
                <div class="row">
                    <div class="col-sm-12 text-left">
                        <h2 class="title">Paiement</h2>
                        {% if message is defined and message is not null %}
                            <div class="alert {{ message.getType }} text-center">
                                {{ message.getTexte | raw  }}
                            </div>
                        {% endif %}
                    </div><!-- end col -->
                </div><!-- end row -->
                
                <hr class="spacer-5"><hr class="spacer-20 no-border">

                <div class="UBorder">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="nav nav-pills style2 nav-justified">
                            <li class="active">
                                <a href="#payment" data-toggle="tab">
                                    1. Méthode de paiement
                                    <div class="icon">
                                        <i class="fa fa-credit-card"></i>
                                    </div>
                                </a>
                            </li>
                            <li class="disabled">
                            	<a href="#">
                                    2. Revue de la commande
                                    <div class="icon">
                                        <i class="fa fa-check"></i>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content pills">
                        	<div class="tab-pane active" id="payment">
                                <div class="row spacerPad20">
                                    <div class="col-md-8">
                                        <h5 class="thin subtitle">Méthode de paiement</h5>
                                        <div class="panel-group accordion style2" id="accordionPayment" role="tablist" aria-multiselectable="true">
                                            <form id="payment-form" role="form" data-toggle="validator" method="post" action="{{ path('paiement') }}" novalidate="true">
                                                <div class="group">
                                                    <label>
                                                      <span>Nom sur la carte</span><br>
                                                      <input name="cardholder-name" class="field" />
                                                    </label>
                                                </div>
                                                <div class="form-row">
                                                    <label for="card-element">
                                                      Numéro de carte de crédit
                                                    </label>
                                                <div id="card-element">
                                                  <!-- a Stripe Element will be inserted here. -->
                                                </div>

                                                <!-- Used to display form errors -->
                                                <div id="card-errors"></div>
                                              </div>
                                            
                                        </div><!-- end panel-group -->
                                    </div><!-- end col -->
                                    <div class="col-sm-4">
                                        <div class="table-responsive table-bordered"> 
                                            <table class="table no-border">
                                                <thead class="summaryCart">
                                                    <tr>
                                                        <td colspan="2">
                                                            <h5>Sommaire de la commande</h5>
                                                        </td>
                                                    </tr>
                                                </thead>
                                                <tr>
                                                    <th>Sous-total</th><td class="pull-right">{{ panier.calculSousTotal() | number_format(2, ",", " ") }}$</td>
                                                </tr>
                                                <tr>
                                                    <th>Frais de livraison</th><td class="pull-right">{{ panier.calculFraisLivraison() | number_format(2, ",", " ") }}$</td>
                                                </tr>
                                                <tr>
                                                    <th>TPS</th><td class="pull-right">{{ panier.calculTPS() | number_format(2, ",", " ") }}$</td>
                                                </tr>
                                                <tr>
                                                    <th>TVQ</th><td class="pull-right">{{ panier.calculTVQ() | number_format(2, ",", " ") }}$</td>
                                                </tr>
                                                <tr>
                                                    <tbody></tbody>
                                                </tr>
                                                <tr>
                                                    <th>Total</th><td class="pull-right">{{ panier.calculTotal() | number_format(2, ",", " ") }}$</td>
                                                </tr>
                                            </table><!-- end table -->
                                        </div><!-- end table-responsive -->
                                    </div><!-- end col -->
                                </div><!-- end row -->
                            </div><!-- end tab-pane -->
                        </div><!-- end pills content -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end col -->
	        <div class="row spacerPad10-no-top">
	        	<hr>
	        	<div class="col-sm-6 text-left">
	        		<a href="{{path('panier.index')}}" class="btn btn-default btn-md round">Retour au panier</a>
	        	</div>
	        	<div class="col-sm-6 text-right">
	        		<button name="action" value="confirmation" type="submit" class="btn btn-default btn-md round">Revoir la commande</button>
	        	</div>
                </form>
	        </div>  
          </div><!-- end UBorder -->
        </div><!-- end row -->          
    </div><!-- end container -->
</section>
<!-- end section -->
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/paiement.js') }}" ></script>
{% endblock %}