{% extends 'base/base.html.twig' %}
{% block content %}
{% set listeSouhaits = app.session.get('listeSouhaits') %} <!-- On récupère notre variable de session listeSouhaits -->
{% set panier = app.session.get('panier') %} <!-- On récupère notre variable de session panier -->
<!-- start section -->
<section class="section white-backgorund">
    <div class="container">
            <!-- end sidebar -->
                <div class="row">
                    <div class="col-sm-12 text-left">
                        <h2 class="title">Paiement</h2>
                    </div><!-- end col -->
                </div><!-- end row -->
                
                <hr class="spacer-5"><hr class="spacer-20 no-border">
                <div class="row well">
                    <div class="col-sm-8 mainPanel">
                        <ul class="nav nav-pills style2 nav-justified">
                            <li>
                                <a href="{{path('paiement')}}">
                                    1. Méthode de paiement
                                    <div class="icon">
                                        <i class="fa fa-credit-card"></i>
                                    </div>
                                </a>
                            </li>
                            <li class="active">
                                <a href="#shopping-cart" data-toggle="tab">
                                    2. Revue de la commande
									<div class="icon">
                                        <i class="fa fa-check"></i>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content pills">
                            <div class="tab-pane active" id="shopping-cart">
                                <div class="table-responsive table-bordered">    
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th colspan="2">Produit</th>
                                                <th>Prix</th>
                                                <th>Quantité</th>
                                                <th colspan="2">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for unAchat in panier.Achats %}
                                            <tr>
                                                <td> <!-- IMG du produit -->
                                                    <h6 class="regular">
                                                            <img width="60px" src="{{ asset_if('img/produits/' ~ unAchat.Produit.Categorie.IdCategorie ~ '/' ~ unAchat.Produit.idProduit ~ '.jpg','img/produits/nonDispo.png')}}">
                                                        </a>
                                                    </h6>
                                                </td>
                                                <td>
                                                    <h6 class="regular">
                                                            {{ unAchat.Produit.nom }}
                                                        </a>
                                                    </h6>
                                                </td>
                                                <td>
                                                    <span>{{unAchat.Produit.Prix}}$</span>
                                                </td>
                                                <td>
                                                    <p>{{ unAchat.Quantite }}</p>
                                                </td>
                                                <td>
                                                    <span class="text-primary">{{unAchat.getTotalPrixAchatQuantite}}$</span>
                                                </td>
                                            </tr>
                                            {% endfor %}<!-- endfor chaque achat -->
                                        </tbody>
                                    </table><!-- end table -->
                                </div><!-- end table-responsive -->
                            </div><!-- end tab-pane -->
                        </div><!-- end pills content -->
                    </div><!-- end col -->
                    <div class="col-sm-4">
                        <div class="table-responsive table-bordered spacerMarg10-no-top"> 
                            <table class="table no-border">
                                <thead class="summaryCart">
                                    <tr>
                                        <td colspan="2">
                                            <h5>Sommaire de la commande</h5>
                                        </td>
                                    </tr>
                                </thead>
                                <tr>
                                    <th>Sous-total</th><td class="pull-right">{{ panier.calculSousTotal() | number_format(2, ",", " ") }}$</td>
                                </tr>
                                <tr>
                                    <th>Frais de livraison</th><td class="pull-right">{{ panier.calculFraisLivraison() | number_format(2, ",", " ") }}$</td>
                                </tr>
                                <tr>
                                    <th>TPS</th><td class="pull-right">{{ panier.calculTPS() | number_format(2, ",", " ") }}$</td>
                                </tr>
                                <tr>
                                    <th>TVQ</th><td class="pull-right">{{ panier.calculTVQ() | number_format(2, ",", " ") }}$</td>
                                </tr>
                                <tr>
                                    <tbody></tbody>
                                </tr>
                                <tr>
                                    <th>Total</th><td class="pull-right">{{ panier.calculTotal() | number_format(2, ",", " ") }}$</td>
                                </tr>
                            </table><!-- end table -->
                        </div><!-- end table-responsive -->
                    </div><!-- end col -->
                    <div class="row spacerMarg25-top">
                        <hr>
                        <div class="col-sm-6 text-left">
                            <a href="{{path('panier.index')}}" class="btn btn-default btn-md round">Retour au panier</a>
                        </div>
                        <div class="col-sm-6 text-right">
                            <form method="POST" action="{{ path('revue') }}">
                            <input type="text" name="placeOrder" value="true" hidden="true">
                            <button value="Submit" type="submit" class="btn btn-default btn-md round">Placer la commande</button>
                            </form>
                        </div>
                    </div> 
                </div><!-- end row -->
            </div><!-- end col -->
        </div><!-- end row -->                
    </div><!-- end container -->
</section>
<!-- end section -->
{% endblock %}