{% extends 'base/base.html.twig' %}
{% block content %}
{% set listeSouhaits = app.session.get('listeSouhaits') %} <!-- On récupère notre variable de session listeSouhaits -->
{% set panier = app.session.get('panier') %} <!-- On récupère notre variable de session panier -->
<section class="section white-backgorund">
    <div class="container">
        <div class="row">
        {% if app.user %} <!-- On affiche le sidebar seulement si l'utilisateur est connecté -->
            <!-- start sidebar -->
            <div class="col-sm-2">
                <div class="widget all-ArroundBorder">
                    <h5 class="subtitle text-center">Navigation</h5>
                    
                    <ul class="list list-unstyled ">
                        <li class="spacerPad10-no-top-bottom">
                            <a href="{{ path('dossier') }}">Mon compte</a>
                        </li>
                        <li class="spacerPad10-no-top-bottom">
                            <a href="{{ path('panier.index') }}">Mon panier <span class="text-primary">({% if panier is not null %}{{panier.compteNbProduitsTotal}}{% else %}0{% endif %})</span></a>
                        </li>
                        <li class="active spacerPad10-no-top-bottom">
                            <a href="{{ path('commandes') }}">Mes commandes</a>
                        </li>
                        <li class="spacerPad10-no-top-bottom">
                            <a href="{{ path('listeSouhaits.index') }}">Liste de souhaits <span class="text-primary">({% if listeSouhaits is not null %}{{listeSouhaits.compteSouhaits}}{% else %}0{% endif %})</span></a>
                        </li>
                        <li class="spacerPad10-no-top">
                            <a href="{{ path('deconnexion') }}">Déconnexion</a>
                        </li>
                    </ul>
                </div><!-- end widget -->                
            </div><!-- end col -->
            <!-- end sidebar -->
            <div class="col-sm-10">
            {% else %}
            <div class="col-sm-12">
            {% endif %}
                <div class="row">
                    <div class="col-sm-12 text-left">
                        <h2 class="title">Mes commandes <span class="text-primary">({{commandes|length}})</span></h2>
                    </div><!-- end col -->
                </div><!-- end row -->
                
                <hr class="spacer-5"><hr class="spacer-20 no-border">
                
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">    
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Commande</th>
                                        <th colspan="2">Date</th>
                                        <th>Total</th>
                                        <th>État</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if commandes|length > 0 %}
                                        {% for commande in commandes %}
                                            {% set dataTarget = 'arccodion'~ loop.index %}
                                            <tr data-toggle="collapse" data-target={{'#'~ dataTarget}} class="clickable">
                                                <td>
                                                    #{{commande.IdCommande}}
                                                </td>
                                                <td colspan="2">
                                                    {{commande.DateCommande|date("Y/m/d h:m")}}
                                                </td>
                                                <td>
                                                    {{commande.Total | number_format(2, ",", " ")}}$
                                                </td>
                                                <td>
                                                    {% if commande.Etat == constant('AppBundle\\Entity\\Etat::PENDING') %}
                                                        <span class="label label-warning">{{commande.EtatToVerbose}}</span>

                                                    {% elseif commande.Etat == constant('AppBundle\\Entity\\Etat::PREPARING') %}
                                                        <span class="label preparing">{{commande.EtatToVerbose}}</span>

                                                    {% elseif commande.Etat == constant('AppBundle\\Entity\\Etat::DELIVERY') %}
                                                        <span class="label label-default">{{commande.EtatToVerbose}}</span>

                                                    {% elseif commande.Etat == constant('AppBundle\\Entity\\Etat::CANCEL') %}
                                                        <span class="label label-danger">{{commande.EtatToVerbose}}</span>

                                                    {% elseif commande.Etat == constant('AppBundle\\Entity\\Etat::DELIVERED') %}
                                                        <span class="label label-success">{{commande.EtatToVerbose}}</span>

                                                    {% else %}
                                                        <span class="label label-default">{{commande.EtatToVerbose}}</span>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="4">
                                                    <div id={{dataTarget}} class="collapse table-responsive">
                                                        <table>
                                                            <tbody>
                                                                {% for achat in commande.achats %}
                                                                    <tr>
                                                                        <td>
                                                                            <h6 class="regular">
                                                                                <a href="{{ path('produit.popup', {'idProduit' :achat.idProduit }) }}" class="btn btn-light semi-circle btn-sm btnPopup" data-toggle="modal" data-target=".productQuickView">
                                                                                    <img width="60px" >
                                                                                </a>
                                                                            </h6>
                                                                        </td>
                                                                    </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table><!-- end table -->
                        </div><!-- end table-responsive -->
                        
                        <hr class="spacer-10 no-border">
                        
                        <a href="{{ path('homepage') }}" class="btn btn-light semi-circle btn-sm">
                            <i class="fa fa-arrow-left mr-5"></i> Retourner au catalogue
                        </a>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end col -->
        </div><!-- end row -->
        <!-- Modal Product Quick View -->
        <div class="modal fade productQuickView" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div id="modal-content" class="modal-content">
                </div><!-- end modal-content -->
            </div><!-- end modal-dialog -->
        </div><!-- end productRewiew -->                
    </div><!-- end container -->
</section>
<!-- end section -->
{% endblock %}