{% extends 'base/base.html.twig' %}
{% block content %}
{% set listeSouhaits = app.session.get('listeSouhaits') %} <!-- On récupère notre variable de session listeSouhaits -->
{% set panier = app.session.get('panier') %} <!-- On récupère notre variable de session panier -->
<section class="section white-backgorund">
    <div class="container">
        <div class="row mainPanel well">
            <div class="col-lg-12">
                <div class="row">
                    <div class="box">
                                <h2 class="title text-center">Mes commandes</h2>
                                {% if message is defined and message is not null %}
                                    <div class="alert {{ message.getType }} text-center">
                                        {{ message.getTexte | raw  }}
                                    </div>
                                {% endif %}
                            <hr>
                    </div>
                </div>
            </div>
        {% if app.user %} <!-- On affiche le sidebar seulement si l'utilisateur est connecté -->
            <div class="col-lg-3  sidebar">
                <div class="row">
                    <div class="list-group">
                        <span class="list-group-item active" style="background-color:#35404f">
                            Navigation du compte
                        </span>
                        <a href="{{ path('dossier') }}" class="list-group-item">
                            <i class="fa fa-user"></i> Mon compte
                        </a>
                        <a href="{{ path('listeSouhaits.index') }}" class="list-group-item">
                            <i class="fa fa-heart"></i> Ma liste de souhaits <span class="badge">{% if listeSouhaits is not null %}{{listeSouhaits.compteSouhaits}}{% else %}0{% endif %}</span>
                        </a>
                        <a href="{{ path('panier.index') }}" class="list-group-item">
                            <i class="fa fa-cart-plus"></i> Mon panier <span class="badge">{% if panier is not null %}{{panier.compteNbProduitsTotal}}{% else %}0{% endif %}</span>
                        </a>
                        <a href="{{ path('commandes') }}" class="list-group-item active" style="background-color:#D8D8D8;border-style:none;color:black;">
                            <i class="fa fa-list"></i> Mes commandes
                        </a>
                        <a href="{{ path('deconnexion') }}" class="list-group-item">
                            <i class="fa fa-sign-out"></i> Déconnexion 
                        </a>
                    </div>
                </div>
                {% if is_granted('ROLE_ADMIN') == false %} <!-- TODO : REMOVE FALSE -->
                    <div class="row">
                        <div class="list-group">
                            <span class="list-group-item active" style="background-color:#35404f">
                                Administration
                            </span>
                            <a href="{{ path('admin.produit') }}" class="list-group-item">
                                <i class="fa fa-glass" aria-hidden="true"></i> Produits
                            </a>
                            <a href="{{ path('admin.categorie.get') }}" class="list-group-item">
                                <i class="fa fa-bars" aria-hidden="true"></i> Catégories
                            </a>
                            <a href="{{ path('admin.commande') }}" class="list-group-item">
                                <i class="fa fa-archive"></i> Commandes
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
            <!-- end sidebar -->
            <div class="col-lg-9">
            {% else %}
            <div class="col-lg-12">
            {% endif %}
                
                <hr class="spacer-5"><hr class="spacer-20 no-border">
                
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive table-bordered">    
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th class="text-center">Commande</th>
                                        <th colspan="2" class="text-center">Date</th>
                                        <th class="text-center">Total</th>
                                        <th class="text-center">État</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if commandes|length > 0 %}
                                        {% for commande in commandes %} <!-- On énumère chacune des commandes reliées au compte connecté -->
                                            {% set dataTarget = 'arccodion'~ loop.index %}
                                            <tr data-toggle="collapse">
                                                <td class="text-center">
                                                    #{{commande.IdCommande}}
                                                    <a class="btn round arrowUpDown fa fa-chevron-up clickable" data-toggle="collapse" data-target={{'#'~ dataTarget}}>Détails</a>
                                                </td>
                                                <td colspan="2" class="text-center">
                                                    {{commande.DateCommande|date("Y/m/d h:m")}}
                                                </td>
                                                <td class="text-center">
                                                    {{commande.Total | number_format(2, ",", " ")}}$
                                                </td>
                                                <td class="text-center">
                                                    {% if commande.Etat == constant('AppBundle\\Entity\\Etat::PENDING') %}
                                                        <span class="label label-warning">{{commande.EtatToVerbose}}</span>

                                                    {% elseif commande.Etat == constant('AppBundle\\Entity\\Etat::PREPARING') %}
                                                        <span class="label preparing">{{commande.EtatToVerbose}}</span>

                                                    {% elseif commande.Etat == constant('AppBundle\\Entity\\Etat::DELIVERY') %}
                                                        <span class="label label-default">{{commande.EtatToVerbose}}</span>

                                                    {% elseif commande.Etat == constant('AppBundle\\Entity\\Etat::CANCEL') %}
                                                        <span class="label label-danger">{{commande.EtatToVerbose}}</span>

                                                    {% elseif commande.Etat == constant('AppBundle\\Entity\\Etat::DELIVERED') %}
                                                        <span class="label label-success">{{commande.EtatToVerbose}}</span>

                                                    {% else %}
                                                        <span class="label label-default">{{commande.EtatToVerbose}}</span>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <!-- Détails d'une commande -->
                                            <tr class="bgCommande">
                                                <td colspan="6">
                                                    <div id={{dataTarget}} class="collapse table-responsive table-bordered">
                                                        <table class="table table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="text-center" colspan="2">Produit</th>
                                                                        <th class="text-center">Quantité</th>
                                                                        <th class="text-center">Prix unitaire</th>
                                                                        <th class="text-center">Total</th>
                                                                    </tr>
                                                                </thead>
                                                            <tbody>
                                                                {% for achat in commande.achats %}
                                                                    <tr>
                                                                        <td class="text-center">
                                                                            <h6 class="regular">
                                                                                <a href="{{ path('produit.popup', {'idProduit' :achat.produit.idProduit }) }}" class="btn btn-light semi-circle btn-sm btnPopup" data-toggle="modal" data-target=".productQuickView">
                                                                                    <img width="60px" src="{{ asset_if('img/produits/' ~ achat.produit.categorie.idCategorie ~ '/' ~ achat.produit.idProduit ~ '.jpg','img/produits/nonDispo.png')}}">
                                                                                </a>
                                                                            </h6>
                                                                            <a href="{{ path('homepage', {'categorie': achat.produit.Categorie.IdCategorie}) }}"><small>{{achat.produit.Categorie.Nom}}</small></a>
                                                                        </td>
                                                                        <td class="text-center">
                                                                            <a href="{{ path('produit.popup', {'idProduit' :achat.produit.idProduit }) }}" class="btnPopup" data-toggle="modal" data-target=".productQuickView">{{achat.produit.nom}}</a>
                                                                        </td>
                                                                        <td class="text-center">
                                                                            {{achat.quantite}}
                                                                        </td>
                                                                        <td class="text-center">
                                                                            {{achat.prixAchat | number_format(2, ",", " ")}}$
                                                                        </td>
                                                                        <td class="text-center">
                                                                            {{achat.totalPrixAchatQuantite | number_format(2, ",", " ")}}$
                                                                        </td>
                                                                    </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                            <tfoot>
                                                                <thead>
                                                                    <th class="text-center">Fraison de livraison</th>
                                                                    <th class="text-center">TPS</th>
                                                                    <th class="text-center">TVQ</th>
                                                                    <th class="text-center" colspan="2">Sous-total</th>
                                                                </thead>
                                                                <tr>
                                                                    <td class="text-center">
                                                                        {{ constant('AppBundle\\Entity\\Panier::FRAIS_LIVRAISON') | number_format(2, ",", " ") }}$
                                                                    </td>
                                                                    <td class="text-center">
                                                                        {{commande.calculTPS | number_format(2, ",", " ")}}$
                                                                    </td>
                                                                    <td class="text-center">
                                                                        {{commande.calculTVQ | number_format(2, ",", " ")}}$
                                                                    </td>
                                                                    <td class="text-center" colspan="2">
                                                                        {{commande.calculSousTotal | number_format(2, ",", " ")}}
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                        <th class="text-center" colspan="6">Total</th>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="6" class="text-center">
                                                                        {{commande.Total | number_format(2, ",", " ")}}$
                                                                    </td>
                                                                </tr>
                                                            </tfoot>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table><!-- end table -->
                        </div><!-- end table-responsive -->
                        
                        <hr class="spacer-10 no-border">
                        
                        <a href="{{ path('homepage') }}" class="btn btn-light semi-circle btn-sm">
                            <i class="fa fa-arrow-left mr-5"></i> Retourner au catalogue
                        </a>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end col -->
        </div><!-- end row -->
        <!-- Modal Product Quick View -->
        <div class="modal fade productQuickView" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div id="modal-content" class="modal-content">
                </div><!-- end modal-content -->
            </div><!-- end modal-dialog -->
        </div><!-- end productRewiew -->                
    </div><!-- end container -->
</section>
<!-- end section -->
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/commande.js') }}"></script>
{% endblock %}